# https://pnpm.io/npmrc
package-lock = false
lockfile = false

# https://pnpm.io/pnpmfile
#pnpmfile = node_modules/pre-package /TODO

# https://pnpm.io/cli/run#npmrc-settings
#enable-pre-post-scripts = false
shell-emulator = true
